p{
    margin:0;
}
.header{
    display: flex;
    color: white;
    background-color: #1f2937;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}
.right-section{
    display: flex;
    gap: 12px;
    font-size: 15px;
}
.hero{
    display: flex;
    background-color: #1f2937;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
.right-hero{
    display:flex;
    background-color: grey;
    height: 180px;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color:white;
}
.left-hero{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 180px;
}
.title{
    font-size: 42px;
    font-weight: bold;
    color :#f9faf8; 
}
.paragraph{
    color: #e5e7eb;
}
.btn{
    background-color:  #3882f6;
    border:none;
    width: 70px;
    color: white;
    padding: 0;
    height:25px;
    border-radius: 4px;
    margin-top: 5px;
}
.middle1{
    display: flex;
    flex-direction: column;
    height: 250px;
    align-items: center;
}
.middle-title{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}
.frame-container{
    display: flex;
    flex: 1;
    
}
