p{
    margin:0;
}
body{
    margin: 0;
}
.header{
    display: flex;
    color: white;
    background-color: #1f2937;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}
.right-section{
    display: flex;
    gap: 12px;
    font-size: 15px;
}
.hero{
    display: flex;
    background-color: #1f2937;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
.right-hero{
    display:flex;
    background-color: grey;
    height: 180px;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color:white;
}
.left-hero{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 180px;
}
.title{
    font-size: 42px;
    font-weight: bold;
    color :#f9faf8; 
}
.paragraph{
    color: #e5e7eb;
}
.btn{
    background-color:  #3882f6;
    border:none;
    width: 70px;
    color: white;
    padding: 0;
    height:25px;
    border-radius: 4px;
    margin-top: 5px;
}
.middle1{
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}
.middle-title{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}
.frame-container{
    display: flex;
    flex: 1;
    gap: 50px;
}
.frame{
    width: 150px;
    gap: 10px;
}
.frame-item{
    margin-bottom: 8px;
    height: 140px;
    width: 150px;
    border: 4px solid #3882f6;
    border-radius: 6px;
}
.middle2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 450px;
}
.text-box{
    width: 600px;
}
.text-container{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
.author{
    font-weight: bold   ;
    font-size: 17px;
    width: 200px;
    padding-left: 410px;
}
.middle3{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-box{
    width: 850px;
    height: 120px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 4px;
}
.contact-title{
    font-size: 17px;
    font-weight: bold;
}
.contact-btn{
    border: 2px solid white;
    border-radius: 4px;
    background-color: #3882f6;
    color: white;
    padding: 5px 15px 5px 15px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #1f2937;
    color: white;
    font-size: 14px;
}